.movie-card{
    margin-bottom: 8%;
    position: relative;
}

.movie-card .ant-card-body{
    padding: 0;
    text-align: right;
    font-size: 14
}

.movie-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: end;

}

.overview {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    overflow: auto;
    color: black;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    /* opacity: 0; */
    display: none;
    text-align: left;
}

.movie-card:hover .overview {
    transform: translateY(0);
    background-color: white;
    /* opacity: 1; */
    display: block;
}